you need to enter one command at a time into the powershell terminal
only do what i ask of you no more, you cn make suggestions but ionly add features i ask for

#Project Description

#Project Structure


# Important Rules you have to follow

# Tech Stack
React 
Node
Python
Electron
